@model CompanySystem.DAL.PageSectionEntity
@{
    ViewBag.Title = Model != null ? "Edit" : "Add";
}
<!DOCTYPE html>
<html>
<head>
    <title>PageSection</title>
    <style>
        body{
            align-content:center;

        }

        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 2px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            transition-duration: 0.4s;
            cursor: pointer;
            margin:10px;
        }

        .button1 {
            background-color: #CED4DA;
            color: black;
            border: 2px solid #212529;
        }

            .button1:hover {
                background-color: #ADB5BD;
                color: black;
            }

        a {
            color: black;
            text-decoration: none;
        }
        .frm{
            padding-right: 400px;
            padding-left: 600px;
        }

        h2 {
            text-align: center;
            font-family: Fantasy;
        }
        div{
            font-family:Tahoma;
        }
        .form-group{
           
        }
        .des{
          text-align:start;
            height:100px;
           
            
            text-align: left;
        }

        label {
            color: #212529;
            display: block;
            margin-top: 30px;
            font-family: "Epilogue", sans-serif;
            font-weight: 600;
            font-size: 20px;
        }

        input {
            display: block;
            width: 550px;
            margin: 0 auto;
            background-color: #CED4DA;
            color: #495057;
            padding: 15px;
            border-radius: 10px;
            border: 2px solid transparent;
            outline: none;
            font-size: 15px;
           
        }

       

    </style>
</head>
<body>
    <h2>@ViewBag.Title PageSection</h2>


    <form class="frm" asp-action="Edit">

     @*   <div class="valid" asp-validation-summary="All"></div> NOT WORK NEED TO CHECK*@

        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" >
        </div>

        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input class="des" asp-for="Description" >
        </div>

        <div class="form-group">
            <label asp-for="OrderNumber">OrderNumber</label>
            <input asp-for="OrderNumber" >
        </div>



        <button type="submit" class="button button1">@ViewBag.Title</button>

        <button class="button button1">
            <a asp-controller="PageSection" asp-action="Index" >Cancel</a>
        </button>
    </form>
   
</body>
</html>


